<%=name%>
<h1>What are your favorite numbers?</h1>
<form method="post" action="numbers">
	Number 1:<input type="number" name="num1">
	Number 2:<input type="number" name="num2">
	Number 3:<input type="number" name="num3">
	<input type="submit" name="submit">
</form>